<!DOCTYPE html>
<html>
  <head>
    <title>TestActionMailer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link type="text/css" rel="stylesheet" href="style.css">
    <link type="text/css" rel="stylesheet" href="bootstrap.min(1).css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<%= render 'layouts/flash'%>
<%= render 'layouts/navbar' %>
<%= render 'layouts/footer' %>
